# Node/Yarn installs
node_modules
apps/*/node_modules
packages/*/node_modules

# Build artifacts
apps/*/.next
apps/*/dist
packages/*/dist

# Misc
.git
.gitignore
.vscode
.DS_Store
*.log
tmp
dist

# Local env + secrets
.env
.env.*
keys/
